<div role="dialog">
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" ng-click="vm.close();">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title">Publish Info</h3>
        </div>
        <div class="modal-body">
            <span>Information sended!</span>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="vm.close();">OK</button>            
        </div>
    </div>
</div>